<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div class="container">
<h1 class="display-5 m-5">Produtos</h1>

<div class="row">

<div id="products" class="d-flex justify-content-evenly flex-wrap">
  <% @products.each do |product| %>
    <%= render product %>
    <!-- <p>
      <%= link_to "Show this product", product %>
    </p> -->
  <% end %>
</div>
</div>

<!-- <%= link_to "New product", new_product_path %> -->
</div>